.depend
.deps
.libs
*.o
*~

/arg-nonnull.h
/autom4te.cache
/config.rpath
/warn-on-use.h

/ldr

/tests/atconfig
/tests/atlocal
/tests/fake-loadee
/tests/package.m4
/tests/testsuite
/tests/testsuite.dir/
/tests/testsuite.log
